 /* **** BASE COLOR **** */
:root{
     /* --main-color: #1F425D;*/
    --main-color: #071c34; 
    --second-color: #E94D1A;
    --third-color: #4AB9CF;
    --four-color: #fda|40b;
    --white-color: #FFFFFF;
    --black-color: #222;
}
 /***********Section Banière*****************/
.container-baniere-formation{
  margin-top: 67px; /**/
  width: 100%;
  background-image: url("../public/images/bannieres/banner_formation.png");
  height: 500px;
  background-size: cover; /*empeche que l'image déborde*/
}
.text-baniere{
    position: absolute;
    top: 25%;
    left: 3%;
}
.text-baniere h1{
  font-size: 9vh;
  font-style: 7.5vh;
  font-weight: 700;
}
.text-baniere p{
  font-size: 3vh;
  font-style: italic;
}
.modal-body img{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-bottom: 13px;
}
/********** Pagination et formations ******* */
.pagination-link{
  margin-top: 7vh;
}
.page-item a{
  background-color: var(--main-color);
  color: var(--white-color);
} 
.btn-modal-formation{
  background-color: var(--main-color);
  color: var(--white-color);
}
.cta a{
  color: var(--white-color);
}

.btn-primary{
    background-color: #071c34;
}